
@media only screen and (max-width:750px){
    #contant-m{
        padding-top: 0.87rem;
        padding-bottom: 0.98rem;
        width: 100%;
         form{
	        width: 680px;
	        margin-top: 30px;
	            .item{
	                width: 100%;
	                overflow: hidden;
	                margin-bottom: 21px;
	                .label{
	                    width: 100px;
	                    float: left;
	                    text-align: right;
	                    color: #616161;
	                    line-height: 40px;
	                    margin-right: 20px;
	                    font-size: 14px;
	                }
	                .input{
	                    float: left;
	                    width: 520px;
	                    box-sizing: border-box;
	                    border:1px #cbcaca solid;
	                    height: 40px;
	                    line-height: 40px;
	                     border-radius: 5px;
	                    input{
	                        width: 100%;
	                        height: 100%;
	                        float: left;
	                        border: none;
	                        background: none;
	                        padding: 0 10px;
	                        line-height: 40px;
	                        
	                    }
	                    
	                }
	                .textarea_div{
	                    float: left;
	                    width: 520px;
	                    box-sizing: border-box;
	                    border:1px #cbcaca solid;
	                    height: 130px;
	                    line-height: 40px;
	                     border-radius: 5px;
	                     textarea{
	                         border:none;
	                        width: 100%;
	                        padding: 5px 10px;
	                        resize: none;
	                        height: 100%;
	                        box-sizing: border-box;
	                    }
	                }
	                .select_div{
	                     float: left;
	                    width: 520px;
	                    height: 39px;
	                    line-height: 40px;
	                     border-radius: 5px;
	                     select{
	                         width: 257px;
	                         height: 100%;
	                         border:1px #cbcaca solid;
	                         border-radius: 5px;
	                         box-sizing: border-box;
	                     }
	                }
	                .input_code{
	                    float: left;
	                    width: 397px;
	                    box-sizing: border-box;
	                    border:1px #cbcaca solid;
	                    height: 40px;
	                    line-height: 40px;
	                    border-radius: 5px;
	                    input{
	                        width: 100%;
	                        height: 100%;
	                        float: left;
	                        border: none;
	                        background: none;
	                        padding: 0 10px;
	                        line-height: 40px;
	                        
	                    }
	                    
	                }
	                .btn{
	                    float: left;
	                    width: 110px;
	                    height: 40px;
	                    background: #ee0a0d;
	                    color: #fff;
	                    border:none;
	                    float: left;
	                    margin: 0;
	                    margin-left:10px ;
	                    font-size: 14px;
	                }
	            }
	            button{
	                width: 116px;
	                height: 40px;
	                background: #ee0a0d;
	                border: none;
	                color: #fff;
	                font-size: 16px;
	                border-radius: 5px;
	                display: block;
	                margin: 40px auto 15px;
	                cursor: pointer;
	                
	            }
	        }
	        .tip{
	            text-align: center;
	            color: #999999;
	            font-size: 12px;
	        }
	    
    }
}


