img.get_password {
  width: 856px;
  display: block;
  margin: 0 auto 73px; }

form {
  width: 680px;
  margin: 0 auto;
  margin-top: 30px; }
  form .item {
    width: 100%;
    overflow: hidden;
    margin-bottom: 21px; }
    form .item .label {
      width: 100px;
      float: left;
      text-align: right;
      color: #616161;
      line-height: 40px;
      margin-right: 20px;
      font-size: 14px; }
    form .item .input {
      float: left;
      width: 520px;
      box-sizing: border-box;
      border: 1px #cbcaca solid;
      height: 40px;
      line-height: 40px;
      border-radius: 5px; }
      form .item .input input {
        width: 100%;
        height: 100%;
        float: left;
        border: none;
        background: none;
        padding: 0 10px;
        line-height: 40px; }
    form .item .textarea_div {
      float: left;
      width: 520px;
      box-sizing: border-box;
      border: 1px #cbcaca solid;
      height: 130px;
      line-height: 40px;
      border-radius: 5px; }
      form .item .textarea_div textarea {
        border: none;
        width: 100%;
        padding: 5px 10px;
        resize: none;
        height: 100%;
        box-sizing: border-box; }
    form .item .select_div {
      float: left;
      width: 520px;
      height: 39px;
      line-height: 40px;
      border-radius: 5px; }
      form .item .select_div select {
        width: 257px;
        height: 100%;
        border: 1px #cbcaca solid;
        border-radius: 5px;
        box-sizing: border-box; }
    form .item .input_code {
      float: left;
      width: 397px;
      box-sizing: border-box;
      border: 1px #cbcaca solid;
      height: 40px;
      line-height: 40px;
      border-radius: 5px; }
      form .item .input_code input {
        width: 100%;
        height: 100%;
        float: left;
        border: none;
        background: none;
        padding: 0 10px;
        line-height: 40px; }
    form .item .get_phone {
      width: 100px;
      height: 40px;
      float: left;
      background: #ee0a0d;
      color: #fff;
      text-align: center;
      line-height: 40px;
      margin-left: 25px;
      border-radius: 5px; }
    form .item .btn {
      float: left;
      width: 110px;
      height: 40px;
      background: #ee0a0d;
      color: #fff;
      border: none;
      float: left;
      margin: 0;
      margin-left: 10px;
      font-size: 14px; }
  form button {
    width: 116px;
    height: 40px;
    background: #ee0a0d;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: 60px auto 290px;
    cursor: pointer; }

.tip {
  text-align: center;
  color: #999999;
  font-size: 12px; }

.tip {
  width: 100%;
  font-size: 24px;
  color: #606060; }
  .tip span {
    color: #cc080b; }
  .tip img {
    width: 33px;
    height: 33px;
    display: inline-block;
    margin-right: 10px; }

.btn_list {
  margin-bottom: 300px;
  text-align: center;
  margin-top: 40px; }
  .btn_list a {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: #ee0a0d 1px solid;
    color: #ee0a0d;
    text-align: center;
    line-height: 30px;
    margin-right: 50px;
    font-size: 14px; }

@media only screen and (max-width: 750px) {
  #contant-m {
    padding-top: 0.87rem;
    padding-bottom: 0.98rem;
    width: 100%; }
    #contant-m img.get_password {
      width: 100%;
      display: block;
      margin: 0 auto 73px; }
    #contant-m form {
      width: 6.8rem;
      margin: 0 auto;
      margin-top: 0.3rem; }
      #contant-m form .item {
        width: 100%;
        overflow: hidden;
        margin-bottom: 0.21rem; }
        #contant-m form .item .label {
          width: 100px;
          float: left;
          text-align: right;
          color: #616161;
          line-height: 0.4rem;
          margin-right: 0.2rem;
          font-size: 0.14rem; }
        #contant-m form .item .input {
          float: left;
          width: 5.2rem;
          box-sizing: border-box;
          border: 1px #cbcaca solid;
          height: 0.4rem;
          line-height: 0.4rem;
          border-radius: 0.05rem; }
          #contant-m form .item .input input {
            width: 100%;
            height: 100%;
            float: left;
            border: none;
            background: none;
            padding: 0 0.1rem;
            line-height: 0.4rem; }
        #contant-m form .item .textarea_div {
          float: left;
          width: 5.2rem;
          box-sizing: border-box;
          border: 1px #cbcaca solid;
          height: 1.3rem;
          line-height: 0.4rem;
          border-radius: 0.05rem; }
          #contant-m form .item .textarea_div textarea {
            border: none;
            width: 100%;
            padding: 0.05rem 0.1rem;
            resize: none;
            height: 100%;
            box-sizing: border-box; }
        #contant-m form .item .select_div {
          float: left;
          width: 5.2rem;
          height: 0.39rem;
          line-height: 0.4rem;
          border-radius: 0.05rem; }
          #contant-m form .item .select_div select {
            width: 2.57rem;
            height: 100%;
            border: 1px #cbcaca solid;
            border-radius: 0.05rem;
            box-sizing: border-box; }
        #contant-m form .item .input_code {
          float: left;
          width: 3.97rem;
          box-sizing: border-box;
          border: 1px #cbcaca solid;
          height: 0.4rem;
          line-height: 0.4rem;
          border-radius: 0.05rem; }
          #contant-m form .item .input_code input {
            width: 100%;
            height: 100%;
            float: left;
            border: none;
            background: none;
            padding: 0 0.1rem;
            line-height: 0.4rem; }
        #contant-m form .item .get_phone {
          width: 1rem;
          height: 0.4rem;
          float: left;
          background: #ee0a0d;
          color: #fff;
          text-align: center;
          line-height: 0.4rem;
          margin-left: 0.25rem;
          border-radius: 0.05rem;
          font-size: 0.16rem; }
        #contant-m form .item .btn {
          float: left;
          width: 1.1rem;
          height: 0.4rem;
          background: #ee0a0d;
          color: #fff;
          border: none;
          float: left;
          margin: 0;
          margin-left: 0.1rem;
          font-size: 0.14rem; }
      #contant-m form button {
        width: 1.16rem;
        height: 0.4rem;
        background: #ee0a0d;
        border: none;
        color: #fff;
        font-size: 0.16rem;
        border-radius: 0.05rem;
        display: block;
        margin: 0.6rem auto 2.9rem;
        cursor: pointer; }
    #contant-m .tip {
      text-align: center;
      color: #999999;
      font-size: 0.12rem; }
    #contant-m .tip {
      width: 100%;
      font-size: 0.24rem;
      color: #606060; }
      #contant-m .tip span {
        color: #cc080b; }
      #contant-m .tip img {
        width: 0.33rem;
        height: 0.33rem;
        display: inline-block;
        margin-right: 0.1rem; }
    #contant-m .btn_list {
      margin-bottom: 3rem;
      text-align: center;
      margin-top: 0.4rem; }
      #contant-m .btn_list a {
        display: inline-block;
        width: 1rem;
        height: 0.3rem;
        border: #ee0a0d 1px solid;
        color: #ee0a0d;
        text-align: center;
        line-height: 0.3rem;
        margin-right: 0.5rem;
        font-size: 0.14rem; } }

/*# sourceMappingURL=get_password.css.map */
