
.common_title{
     .text{
        font-size: 16px;
        width: 100px;
        text-align: center;
        border: none !important;
        height: 100%;
        color: #ee0a0d;
        float: left;
    }
    .active{
        border-bottom:1px solid #ee0a0d !important;
    }
    .form{
        float: right;
        input{
            width: 300px;
            height: 30px;
            border:1px solid #F0F0F0;
            padding: 5px 10px;
            line-height: 30px;
            box-sizing: border-box;
        }
        button{
            width: 100px;
            border:1px solid #F2F2F2;
            color: #090909;
            background: #F2F2F2;
            height: 30px;
            border:1px #E0E0E0 solid
        }
    }
}
.table_header{
    width: 100%;
    height: 42px;
    background: #f0f0f0;
    margin: 10px 0;
    .li{
        &:nth-child(1){
            width: 400px;
            padding-left: 20px;
            text-align: left;
        };
        
        float: left;
        width: 130px;
        line-height: 42px;
        box-sizing: border-box;
        color: #000000;
        font-size: 12px;
        text-align: center;
        
    }
    
}
.order_list{
    width: 100%;
    ul{
        width: 100%;
        li{
            width: 100%;
            margin-bottom:15px;
            border:1px solid #E0E0E0;
            .li_header{
                width: 100%;
                height: 30px;
                background: #f0f0f0;
                line-height: 30px;
                span{
                    color: #000;
                    font-size: 12px;
                    margin-left: 20px
                }
            }
            .line{
                width: 100%;
                overflow: hidden;
                .li_common{
                    &:nth-child(1){
                        width: 400px;
                    }
                    height: 100%;
                    float: left;
                    width: 130px;
                    box-sizing: border-box;
                    color: #000000;
                    font-size: 12px;
                    text-align: center;
                    border-right: 1px solid  #E0E0E0;
                    p{
                         font-size: 14px;
                        color: #000;
                        float: left;
                        width: 100%;
                        margin-top: 22px;
                        margin-bottom: 5px;
                        text-align: center;
                    }
                    p.red{
                        color: #ee0a0d;
                    }
                }
                .pro_img{
                    .one{
                        overflow: hidden;
                        border-bottom: 1px solid  #E0E0E0;
                    }
                    img{
                        float: left;
                        width: 75px;
                        height: 75px;
                        margin: 12px;
                    }
                    p{
                        font-size: 14px;
                        color: #000;
                        float: left;
                        margin-top: 22px;
                        margin-bottom: 5px;
                        width: 200px;
                         text-align: left;
                    }
                    span{
                        font-size: 12px;
                        color: #7f7f7f;
                        float: left;
                         width: 200px;
                         text-align: left;
                    }
                }
                .open{
                    padding: 5px 0;
                    a{
                        width: 80px;
                        height: 22px;
                        text-align: center;
                        line-height: 22px;
                        display: block;
                        margin-bottom: 5px;
                        border-radius: 5px;
                        margin:0 auto 5px;
                        box-sizing:border-box;
                        &.pay{
                            background: #ee0a0d;
                            color: #fff;
                        }
                         &.eva{
                            border:1px solid #ee0a0d;
                            color: #ee0a0d;
                        }
                    }
                }
            }
        }
    }
}
.page{
margin-left: 230px;
    clear: both;
    margin-bottom: 45px;
    margin-top: 45px;
    overflow: hidden;
    span{
        display: block;
        float: left;
        color: #4c4c4c;
        line-height: 30px;
        margin-right: 15px;
    }
    ul{
        float: left;
        li{
            padding: 0px 15px;
            height: 30px;
            border:1px #e1e1e1 solid;
            cursor: pointer;
            float: left;
            margin-right: 10px;
            line-height: 30px;
            text-align: center;
            color: #4c4c4c;
            &.on{
                background: #ee0a0d;
                color: #fff;
                border:none
            }
        }
    }
}


@media only screen and (max-width:750px){
     #contant-m{
        padding-top: 0.87rem;
        padding-bottom: 0.98rem;
        width: 100%;
        .tab-m{
            width:100%;
            margin:0.15rem 0;
            ul{
                width:100%;
                overflow:hidden;
                li{
                    float:left;
                    width:1.35rem;
                    height:.6rem;
                    background:#f0f0f0;
                    font-size:.24rem;
                    color:#4a4a4a;
                    text-align:center;
                    line-height:.6rem;
                    margin-right:0.05rem;
                    &:nth-child(5){
                        margin-right:0
                    }
                    &.on{
                        background:#eb1e24;
                        color:#fff;
                    }
                }
            }
        }
        .order_list-m{
            margin-bottom:0.3rem;
            ul {
                width:100%;
                li{
                    width:100%;
                    border-bottom:0.15rem #f0f0f0 solid;
                    .order_title{
                        width:100%;
                        height:.7rem;
                        margin-top:.2rem;
                        font-size:.24rem;
                        color:#575757;
                        line-height:.7rem;
                        span{
                            color:#eb1e24;
                            float:right;
                            display:block;
                            height:100%
                        }
                    }
                    .order_center{
                        width:100%;
                        height:1.8rem;
                        background:#f5f5f5;
                        .img{
                            width:1.6rem;
                            height:1.6rem;
                            margin:0.1rem;
                            float:left;
                            img{
                                width:100%;
                                height:100%;
                            }
                        }
                        .center_center{
                            float:left;
                            width:3.5rem;
                            margin-left:0.2rem;
                            p{
                                font-size:.28rem;
                                color:#4a4a4a;
                                line-height:.55rem;
                            }
                            span{
                                font-size:.2rem;
                                color:#b5b5b5;
                                float:left;
                            }
                        }
                        .center_right{
                            float:right;
                            width:1.5rem;
                             p{
                                font-size:.28rem;
                                color:#4a4a4a;
                                line-height:.55rem;
                                text-align:right
                            }
                            span{
                                display:block;
                                font-size:.28rem;
                                color:#b5b5b5;
                                 float:left;
                                 width:100%;
                                  text-align:right
                            }
                        }
                    }
                    .totol-order{
                        line-height:.5rem;
                        width:7.1rem;
                        margin:.2rem auto 0;
                        box-sizing:border-box;
                        font-size:.24rem;
                        color:#777777;
                        border-bottom:1px solid #ffd6d6;
                        text-align:right;
                        span{
                            margin-left:.3rem;
                        }
                    }
                    .btn{
                        width:100%;
                        height:.96rem;
                        line-height:.96rem;
                        text-align:right;
                        overflow:hidden;
                        a{
                            margin-top:.23rem;
                            width:1.6rem;
                            height:.5rem;
                            border-radius:.1rem;
                            border:1px solid #aaa9a9;
                            display:inline-block;
                            text-align:center;
                            line-height:.5rem;
                            font-size:.24rem;
                            float:right;
                            margin-left:.4rem;

                            &.pay{
                                color:#eb252b;
                                border:1px solid #eb252b;
                            }
                        }
                    }
                }
            }
        }
       
    }
}
