.chat { clear: both; width: 100%; overflow: hidden; border: 1px #e0e0e0 solid; margin-bottom: 30px; }
.chat .chat_title { background: #F2F2F2; height: 40px; width: 100%; border-bottom: 1px #e0e0e0 solid; color: #000000; font-size: 18px; font-weight: bold; line-height: 40px; padding-left: 15px; box-sizing: border-box; }
.chat .chat_title span { font-weight: normal; }
.chat .chat_title .btn { width: 135px; height: 30px; float: right; background: #fff; text-align: center; color: #6f6f6f; font-size: 14px; line-height: 30px; margin-right: 13px; margin-top: 5px; }
.chat .order_info { width: 100%; padding: 10px 0; }
.chat .order_info p { line-height: 45px; color: #a7a7a7; padding-left: 20px; box-sizing: border-box; }
.chat .order_info p span { font-size: 24px; color: #ee0a0d; font-weight: bold; }
.chat .order_info p a { display: inline-block; width: 70px; height: 25px; border-radius: 5px; border: 1px solid #ee0a0d; text-align: center; line-height: 25px; color: #ee0a0d; font-size: 14px; }
.chat .cat_list { width: 100%; }
.chat .cat_list ul { width: 100%; text-align: center; margin: 25px 0; }
.chat .cat_list ul li { display: inline-block; width: 122px; height: 35px; text-align: center; line-height: 35px; background: #f0f0f0; color: #4a4a4a; margin-right: 3px; font-size: 14px; }
.chat .cat_list ul li.active { background: #eb1e24; color: #fff; }
.chat .chat_name p { text-align: center; color: #000000; font-size: 18px; }
.chat .chat_name span { font-size: 12px; color: #aaa9a9; display: block; text-align: center; }
.chat .address_list { width: 1175px; margin: 0 auto; margin-bottom: 25px; }
.chat .address_list ul { width: 100%; margin-top: 20px; }
.chat .address_list ul li { width: 100%; height: 40px; border: 1px solid #e5e5e5; margin-bottom: 10px; position: relative; }
.chat .address_list ul li .name { float: left; line-height: 40px; font-size: 16px; color: #666666; font-weight: bold; width: 80px; text-align: center; }
.chat .address_list ul li .phone { float: left; line-height: 40px; font-size: 16px; color: #666666; padding: 0 20px; text-align: center; }
.chat .address_list ul li .add_adress { display: none; position: absolute; bottom: 0; right: 0; width: 22px; height: 23px; }
.chat .address_list ul li .add_adress img { width: 100%; height: 100%; }
.chat .address_list ul li.active { border: 1px #cc080b solid; }
.chat .address_list ul li.active .add_adress { display: block; }
.chat .radio_list { width: 100%; height: 70px; }
.chat .radio_list ul { width: 100%; padding-left: 15px; }
.chat .radio_list ul li { float: left; width: 120px; height: 70px; line-height: 70px; font-size: 14px; color: #666666; position: relative; padding-left: 20px; background: url(../img/check.png) no-repeat; background-position: left center; margin-right: 20px; }
.chat .radio_list ul li.check { background: url(../img/check_active.png) no-repeat; background-position: left center; }
.chat .order_list { width: 100%; }
.chat .order_list ul { overflow: hidden; border-bottom: 1px #E0E0E0 solid; }
.chat .order_list ul li { float: left; height: 98px; text-align: center; color: #7f7f7f; font-size: 14px; }
.chat .order_list ul li.red { color: #ee0a0d; }
.chat .order_list ul li p { margin-top: 22px; }
.chat .order_list ul li p.red { color: #ee0a0d; }
.chat .order_list ul li:nth-child(1) { width: 340px; }
.chat .order_list ul li:nth-child(1) img { width: 75px; height: 75px; display: block; float: left; margin: 12px 20px; }
.chat .order_list ul li:nth-child(1) span { float: left; margin-top: 22px; }
.chat .order_list ul li:nth-child(2) { width: 300px; }
.chat .order_list ul li:nth-child(3) { width: 190px; }
.chat .order_list ul li:nth-child(4) { width: 160px; }
.chat .order_list ul li:nth-child(5) { width: 210px; }
.chat .order_list ul.order_head { height: 40px; }
.chat .order_list ul.order_head li { height: 40px; line-height: 40px; color: #000; font-size: 12px; }
.chat .order_list ul.order_head li:nth-child(1) { padding-left: 60px; box-sizing: border-box; text-align: left; }
.chat .order_list .total { width: 100%; height: 55px; line-height: 55px; text-align: right; border-bottom: 1px #E0E0E0 solid; }
.chat .order_list .total span { display: inline-block; margin-right: 10px; }
.chat .order_list .total span.num { display: inline-block; color: #000000; font-size: 12px; }
.chat .order_list .total span.total_ { color: #666666; font-size: 12px; }
.chat .order_list .total span.total_price { font-size: 20px; color: #ee0a0d; margin-right: 50px; }
.chat .order_list .liuyan { width: 100%; padding: 0 22px; box-sizing: border-box; }
.chat .order_list .liuyan .liu_title { line-height: 55px; margin: 10px 0 0 0; font-size: 18px; color: #000000; font-weight: bold; }
.chat .order_list .liuyan textarea { width: 100%; height: 123px; resize: none; background: #f2f2f2; border: none; padding: 10px; box-sizing: border-box; line-height: 20px; margin-bottom: 30px; }
.chat .timepick { width: 100%; text-align: center; color: #aaa9a9; margin-bottom: 30px; }
.chat .timepick .btn { display: inline-block; width: 135px; height: 32px; border: 1px #aaa9a9 solid; border-radius: 5px; margin: 0 22px; }
.chat .timepick .btn input { width: 100%; border: none; background: none; line-height: 32px; text-align: center; color: #aaa9a9; }
.chat .timepick .submit { width: 130px; height: 32px; border-radius: 5px; display: inline-block; background: #ee0a0d; line-height: 32px; color: #fff; }
.chat .table { width: 1177px; overflow: hidden; margin: 0 auto; border: 1px #e0e0e0 solid; }
.chat .table ul { width: 100%; }
.chat .table ul li { float: left; width: 50%; padding-left: 20px; box-sizing: border-box; height: 40px; text-align: left; line-height: 40px; color: #000; font-size: 14px; }
.chat .table ul li span { color: #5f5f5f; }
.chat .table ul li:last-child { border-right: none; }

.huizong { width: 100%; padding-bottom: 15px; border-bottom: 1px #e0e0e0 solid; margin-bottom: 60px; }
.huizong p { width: 100%; text-align: right; color: #666666; font-size: 14px; line-height: 31px; }
.huizong p span.price { width: 160px; display: inline-block; }
.huizong p span { color: #ee0a0d; }

.img { width: 1000px; margin: 0 auto 50px; }
.img img { width: 100%; }

@media only screen and (max-width: 750px) { #contant-m { padding-top: 0.87rem; padding-bottom: 0.98rem; width: 100%; }
  #contant-m .status-m { background: #eb1e24; line-height: 2.1rem; width: 100%; height: 2.1rem; font-size: 0.32rem; color: #fff; padding-left: 0.5rem; box-sizing: border-box; }
  #contant-m .status-m img { float: left; width: 0.96rem; margin: 0.6rem 0.2rem 0 0; }
  #contant-m .order_info-m { border-bottom: 0.15rem #f0f0f0 solid; overflow: hidden; }
  #contant-m .order_info-m .name { color: #6f6f6f; font-size: 0.28rem; line-height: 0.5rem; margin-top: 0.3rem; }
  #contant-m .order_info-m .name b { color: #000000; }
  #contant-m .order_info-m .address { color: #6f6f6f; font-size: 0.28rem; line-height: 0.5rem; margin-bottom: 0.15rem; overflow: hidden; }
  #contant-m .order_info-m .address span { display: inline-block; width: 1.5rem; float: left; }
  #contant-m .order_info-m .address div { float: left; width: 5.5rem; }
  #contant-m .order_list-m { margin-bottom: 0.3rem; }
  #contant-m .order_list-m ul { width: 100%; }
  #contant-m .order_list-m ul li { width: 100%; border-bottom: 0.15rem #f0f0f0 solid; }
  #contant-m .order_list-m ul li .order_title { width: 100%; height: .7rem; margin-top: .2rem; font-size: .24rem; color: #575757; line-height: .7rem; }
  #contant-m .order_list-m ul li .order_title span { color: #eb1e24; float: right; display: block; height: 100%; }
  #contant-m .order_list-m ul li .order_center { width: 100%; height: 1.8rem; background: #f5f5f5; }
  #contant-m .order_list-m ul li .order_center .img { width: 1.6rem; height: 1.6rem; margin: 0.1rem; float: left; }
  #contant-m .order_list-m ul li .order_center .img img { width: 100%; height: 100%; }
  #contant-m .order_list-m ul li .order_center .center_center { float: left; width: 3.5rem; margin-left: 0.2rem; }
  #contant-m .order_list-m ul li .order_center .center_center p { font-size: .28rem; color: #4a4a4a; line-height: .55rem; }
  #contant-m .order_list-m ul li .order_center .center_center span { font-size: .2rem; color: #b5b5b5; float: left; }
  #contant-m .order_list-m ul li .order_center .center_right { float: right; width: 1.5rem; }
  #contant-m .order_list-m ul li .order_center .center_right p { font-size: .28rem; color: #4a4a4a; line-height: .55rem; text-align: right; }
  #contant-m .order_list-m ul li .order_center .center_right span { display: block; font-size: .28rem; color: #b5b5b5; float: left; width: 100%; text-align: right; }
  #contant-m .order_list-m ul li .totol-order { line-height: .5rem; width: 7.1rem; margin: .2rem auto 0; box-sizing: border-box; font-size: .24rem; color: #777777; border-bottom: 1px solid #ffd6d6; text-align: right; }
  #contant-m .order_list-m ul li .totol-order span { margin-left: .3rem; }
  #contant-m .order_list-m ul li .btn { width: 100%; height: .96rem; line-height: .96rem; text-align: right; overflow: hidden; }
  #contant-m .order_list-m ul li .btn a { margin-top: .23rem; width: 1.6rem; height: .5rem; border-radius: .1rem; border: 1px solid #aaa9a9; display: inline-block; text-align: center; line-height: .5rem; font-size: .24rem; float: right; margin-left: .4rem; }
  #contant-m .order_list-m ul li .btn a.pay { color: #eb252b; border: 1px solid #eb252b; }
  #contant-m .order_other { width: 100%; font-size: 0.26rem; padding: 0.25rem 0.25rem; box-sizing: border-box; }
  #contant-m .order_other p { font-size: 0.26rem; line-height: 0.36rem; color: #4e4e4e; } }

/*# sourceMappingURL=order_detail.css.map */
